
@media screen and (max-width:868px) {
    .nav-links ul{
    gap: 5px;
    }
    .nav-links ul li{
        padding: 8px 12px;
    }
    .nav-links ul li a {
        padding: 0px 0px;
    }
    .main-baner{
        flex-direction: column;
        text-align: left;
    }
    .baner-contant h2{
        font-size: 78px;
    }
    .mamber .mamber-name-arafat {
	background: rgba(0, 0, 0, 0);
    color: aqua;
    }
    .havit-card{
    grid-template-columns: repeat(2,1fr);
    }
    .content h3 {
    font-size: 35px;
    }
    .content p {
    font-size: 15px;
    }
    #run .btn {
        width: 80%;
    }
    .logo {
    grid-column: span 4;
    }
     .get.get1{
        grid-column: span 2;
    }
    .get.get2{
        grid-column: span 2;
        grid-row: span 1;
    }

}
@media screen and (max-width:468px) {
    .nav-links ul{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .menu-icon i{
        color:#fff;
        font-size: 24px;
    }
    .baner-contant h2{
        font-size: 40px;
    }
    .baner-image img{
        width: 100%;
    }
    .baner-image .img-con1{
    top: 50px;
    right: -10px;
    }
    .img-con1 h3{
    font-size: 24px;
    }
    .img-con1 p{
    font-size: 14px;
    }
    .baner-image .img-con1 {
    padding: 5px;
    right: -20px;
    }

    .baner-image .img-con2{
    bottom: 200px;
    left: -20px;
    }
    .img-con2 h3{
    font-size: 24px;
    }
    .img-con2 p{
    font-size: 14px;
    }
/* Habits section */
    .card{
        grid-column: span 4;
    }
    .habit-heading h2 {
        font-size: 32px;
        }
/* run section */
        .content{
            grid-column: span 2;
        }
    .run-contant-img {
        gap: 10px;
        }
    .img{
        grid-column: span 2;
    }
     #run .btn {
        width: 100%;
    }
    .content h3 {
        font-size: 32px;
        }
    .content .btn {
        width: 100%;
        }
/* Trainings section */
    .Trainings-heading h3{
        font-size: 32px;
    }
    .ing-text1,
    .ing-text2,
    .ing-text3,
    .ing-text4,
    .ing-text5,
    .ing-text6{
        padding: 15px;
    }
        .big-layout {
            grid-column: span 2;
            grid-row: span 2;
        }
        .normal-layout {
            grid-column: span 2;
            grid-row: span 2;
        }
        #Trainings{
    padding: 10px 0;
    }
/* team section */
    .team-heading h2 {
        font-size: 32px;
    }
    .team-mamber {
	    grid-template-columns: repeat(1,1fr);
    }
/* footer  */
    .footer-content {
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        padding: 30px;
    }
    .get.get1{
        grid-column: span 4;
    }
    .get.get2{
        grid-column: span 4;
    }
    .get h5 {
        margin-bottom: 25px;
    }

}