*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.952);
}
.container{
    width: 80%;
    max-width: 1060px;
    margin: 0 auto;
}
.btn{
    background-color: #E6533C;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 30px;
}
/* Navigation Styles */
header{
    background: linear-gradient(#111111,#777777,#111111);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0px;
}
.logo p{
    font-size: 36px;
    font-weight: bold;
    color: #E6533C;
    font-style: italic;
}

.nav-links ul{
    display: flex;
    gap: 20px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 30px;
}
.menu-icon{
    display: none;
}
.nav-links ul li{
    list-style: none;
    border-radius: 20px;
    padding: 10px 16px;
}
.nav-links ul li:hover{
    background: #E6533C;
}
.nav-links ul li a{
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}
/* Banner Styles */

.main-baner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
}
.baner-contant *{
    margin-bottom: 20px;
}
.baner-contant h2{
    font-size: 84px;
    color: white;
}
.baner-contant p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}
.baner-contant button{
    background-color: #E6533C;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 30px;
}
.baner-image{
    position: relative;
}
.baner-image img{
    vertical-align: middle;
}
.baner-image .img-con1{
    background:rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 150px;
    right: -80px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
}
.img-con1 h3{
    font-size: 40px;
}
.baner-image .img-con2{
    display: flex;
    background:rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 80px;
    left: -50px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    gap: 15px;
}
.img-con2 span{
    background: #E6533C;
    padding: 20px 20px;
    border-radius: 50%;
}
.img-con2-inner h3{
    font-size: 24px;
}
/* Habits area design */

#habits,
#run,
#team{
    padding: 50px 0;
}
.habit-heading *,.team-heading *{
    margin-bottom: 20px;
}
.habit-heading,
.team-heading
{
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.habit-heading h2{
    font-size: 48px;
    color: #fff;
}
.habit-heading p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}
.havit-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.card *{
    margin-bottom: 20px;
}
.card{
    color: #fff;
}
.card img{
    border-radius: 50%;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
}

/* Run an Extra style */
.run-contant-img{
    background: rgba(34, 34, 34, 1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
}
.content *{
    margin-bottom: 15px;
}
.content h3{
    font-size: 48px;
    color: #fff;
}
.content p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}
.img img{
    width: 100%;
    border-radius: 10px;
}



/* Trainings Our Team Section */
#Trainings{
    padding: 80px 0;
}
.Trainings-heading{
    max-width: 670px;
    text-align: left;
}
.Trainings-heading h3{
    font-size: 48px;
    color: white;
}
.Trainings-heading p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
}

.Exercises-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
}
        .big-layout {
            position: relative;
            grid-column: span 2;
            grid-row: span 1;
        }

        .normal-layout {
            position: relative;
            grid-column: span 1;
            grid-row: span 1;
        }
.Exercises-area img{
    width: 100%;
    height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  color: white;
}
.ing-text1{
    padding: 50px;
  background: rgba(0, 128, 0, 0.6);
   display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ing-text2{
    padding: 50px;
  background: rgba(255, 0, 0, 0.3);
}
.ing-text3{
    padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ing-text4{
    padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: right;
}
.ing-text5{
    padding: 50px;
  background: rgba(66, 255, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ing-text6{
    padding: 50px;
  background: rgba(0, 71, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Team mamber area style */

.team-mamber{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}
.mamber{
    position: relative;
}
.mamber .mamber-name{
    position: absolute;
    inset: 0;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.3);
}
.mamber img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}



@media screen and (max-width:868px) {
    .nav-links ul{
    gap: 5px;
    }
    .nav-links ul li{
        padding: 8px 12px;
    }
    .nav-links ul li a {
        padding: 0px 0px;
    }
    .main-baner{
        flex-direction: column;
        text-align: left;
    }
    .baner-contant h2{
        font-size: 78px;
    }

}
@media screen and (max-width:468px) {
    .nav-links ul{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .menu-icon i{
        color:#fff;
        font-size: 24px;
    }
    .baner-contant h2{
        font-size: 40px;
    }
    .baner-image .img-con1{
    top: 50px;
    right: -30px;
    }
    .img-con1 h3{
    font-size: 30px;
    }
    .baner-image .img-con2{
    bottom: -30px;
    left: 10px;
    }
    .baner-image .img-con2{
    bottom: 80px;
    left: -30px;
    }
    .big-layout {
            grid-column: span 2;
            grid-row: span 2;
        }
        .normal-layout {
            grid-column: span 2;
            grid-row: span 2;
        }
        #Trainings{
    padding: 10px 0;
}
}