*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.952);
}
.container{
    max-width: 1060px;
    margin: 0 auto;
}
/* Navigation Styles */
header{
    background: linear-gradient(#111111,#777777,#111111);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0px;
}
.logo p{
    font-size: 36px;
    font-weight: bold;
    color: #E6533C;
    font-style: italic;
}

.nav-links ul{
    display: flex;
    gap: 20px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 30px;
}
.nav-links ul li{
    list-style: none;
    border-radius: 20px;
    padding: 10px 16px;
}
.nav-links ul li:hover{
    background: #E6533C;
}
.nav-links ul li a{
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}
/* Banner Styles */

.main-baner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
}
.baner-contant *{
    margin-bottom: 20px;
}
.baner-contant h2{
    font-size: 84px;
    color: white;
}
.baner-contant p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}
.baner-contant button{
    background-color: #E6533C;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 30px;
}
.baner-image{
    position: relative;
}
.baner-image img{
    vertical-align: middle;
}
.baner-image .img-con1{
    background:rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 150px;
    right: -80px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
}
.img-con1 h3{
    font-size: 40px;
}
.baner-image .img-con2{
    display: flex;
    background:rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 80px;
    left: -50px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    gap: 15px;
}
.img-con2 span{
    background: #E6533C;
    padding: 20px 20px;
    border-radius: 50%;
}
.img-con2-inner h3{
    font-size: 24px;
}


/* Meet Our Team Section */
#meet{
    padding: 80px 0;
}
.meet-heading{
    max-width: 670px;
    text-align: left;
}
.meet-heading h3{
    font-size: 48px;
    color: white;
}
.meet-heading p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.Exercises-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
}
        .big-layout {
            grid-column: span 2;
            grid-row: span 1;
        }

        .normal-layout {
            grid-column: span 1;
            grid-row: span 1;
        }
.Exercises-area img{
    width: 100%;
    height: 100%;
}